
*{
    margin: 0;
}
body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul{
list-style-type: none;
}

ul li {
display: inline-block;
margin-right: 10px;
}


a{
text-decoration: none;
color: #e5e7eb;
}



.wrapper {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}
.links{
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    font-size: 18px;
}

.top {
    background-color: #1f2937;
    color: #e5e7eb;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.trol {
    font-size: 48px;
    font-weight: 900;
}

.why {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

.this {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p1 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly
}

.this {
    align-self: flex-end;
}


button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    border-radius: 5px;
    border-color: #e5e7eb;
}

.wow {
    height: 100px;
    width: 100px;
}
.middle {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    display: flex;
}

.words {
    text-align: center;
}

.dolla, .heart, .bandaid, .camera{
    width: 100px;
    height: 100px;
}

.info {
    font: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

.saying {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    font-weight: lighter;
}
.whom {
    text-align: right;
    padding-right: 400px;
}

.pedal {
display: flex;
flex-grow: 1;
background-color: #3882f6;
height: 200px;
flex-shrink: 0;
}

}
.CTA {
background-color: none;
padding-left: 300px;
padding-right: 300px;
padding-top: 25px;
padding-bottom: 25px;
box-sizing: border-box;
align-content: center;
flex-shrink: 0;
}

.foryou {
display: flex;
background-color: #3882f6;
align-items: center;
justify-content: space-evenly;
border-radius: 25px;
height: 100px;
flex-shrink: 0;
}

.caw {
color: #f9faf8;
font-size: 18px;
font-weight: 900;
}

.message {
color: #f9faf8;
}
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    height: 50px;
}

.logo {
    font-size: 24px;
    color:#f9faf8;
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page >*{
    padding: 10px;
}

.main{
    flex-grow: 1;
    padding: 0px;
}

.top, .middle, .quote, .CTA {
    height: 200px;
}


